.file_manager_table { border-collapse: collapse; width: 50%; }
.file_manager_table th, .file_manager_table td { border: 1px solid maroon; height: 30px; text-align: center; }
.file_manager_table td { vertical-align: middle; }
.file_manager_table .buttons { width: 21px; }

.file_manager_listings_table .category { background-color: whitesmoke; }

.file_manager_ul { list-style-type: none; margin: 0; padding: 0; width: 140px; }
.file_manager_ul_trash { height: 23px; padding: 3px 0; }
.file_manager_ul table { border-collapse: collapse; }
.file_manager_ul table, .ma_accounts_ul th, .ma_accounts_ul td { margin: 0; padding: 0; }
.file_manager_ul li { padding: 3px; font-weight: bold !important; }

.file_manager_label { font-weight: bold; padding: 5px; font-size: 15px; }
.file_manager_notification { padding: 8px; }
.file_manager_sortable_placeholder { width: 100px; height: 16px; }
